<?php

{{ range $host, $containers := groupByMulti $ "Env.PHPMYADMIN_SERVER" "," }}

	{{ $containersLen := len $containers }}
	{{ range $index, $value := $containers }}

		{{ $network := index $value.Networks 0 }}

		// {{$value.Name}}
		$i++;
		{{ if eq $containersLen 1 }}
			$cfg['Servers'][$i]['verbose'] = '{{ $value.Env.PHPMYADMIN_SERVER }}';
		{{ else }}
			$cfg['Servers'][$i]['verbose'] = '{{ $value.Env.PHPMYADMIN_SERVER }}-{{ $index }}';
		{{ end }}

		$cfg['Servers'][$i]['host'] = '{{ $network.IP }}';
		$cfg['Servers'][$i]['port'] = '';

		$cfg['Servers'][$i]['socket'] = '';
		$cfg['Servers'][$i]['connect_type'] = 'tcp';
		$cfg['Servers'][$i]['extension'] = 'mysqli';
		$cfg['Servers'][$i]['auth_type'] = 'cookie';
		$cfg['Servers'][$i]['AllowNoPassword'] = false;
		$cfg['Servers'][$i]['hide_db'] = '(information_schema|performance_schema|test)';
		
	{{ end }}

{{ end }}
